<a href="/" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
<a href="/recipe/list" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Recepten</a>
<a href="/crud/" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">CRUD</a>
<a href="/admin" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Admin</a>      
<a href="/docs" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Docs</a>
<a href="/aboutme" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About</a>

<!- - Only for logged-in users not wokring atm -->
<div class="protected-links hidden" id="auth-links">
  <a href="/crud/" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Secure</a>
  <a href="/admin" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Admin</a>
</div>


